/* JUMBOTRON */

.jumbotron {
    width: 50vw;
    height: 50vh;
    align-self: center;
}


/* FORM */

form {
    width: 50vw;
}

fieldset {
    width: 40vw;
    margin-bottom: 2vh;
}

legend {
    font-family: 'Black';
    font-size : 2.5em;
}

label {
    font-family : 'Dumbledore';
    font-size: 1.5em;
}

#boutons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 42vw;
}









