


/* MAIN */
ul {
    list-style: none;
}

h2 {
    text-align: center;
    font-family: 'Black';
    font-size: 3em;
    margin-top: 0.5vh;
}


section {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 74vh;
}

/* FORM */
form {
    width: 50VW;
    height: 74vh;
}

#lancers {
    border: 1px solid black;
}

#lancer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15.3vh;
}

#lancer p {
    text-align: center;
}



#de1, #de2 {
    width: 4vw;
}

#resultats {
    height: 41.9vh;
    overflow: auto;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.score {
    border-bottom: 0.5px solid black;
    
}

.score p {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5vh;
}

#bouton {
    display: flex;
    justify-content: center;
}
#refaire {
    width: 4vw;
}

/* ASIDE */
#next_date {
    border: 1px solid black;
}

#next_date p {
     text-align: center;
     font-size: 2em;
 }

.portrait {
    width: 5vw;
    border-radius: 10%;
}
aside {
    /* background-color: lightgreen; */
    width: 40vw;
}

#membres {
    margin-top: 3vh;
    border: 1px solid black;
    height: 59.2vh;
}

#membre {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 1vw;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}