/* IMPORT FONTS */
@font-face
{
    font-family: 'Black';
    src: url('../font/Black\ Window.ttf') format('truetype') ;
}

@font-face
{
    font-family: 'Dumbledore' ;
    src: url('../font/Dumbledore.ttf') format('truetype') ;
}



/* BODY */
body {
    /* background-color: grey; */
    height: 100vh;
    line-height: 1 !important; 
}


/* HEADER */
header {
    padding-top: 0.5vh;
    text-align: center;
}

#embleme {
    height: 10vh;
}

/* MAIN */

main {
    font-family: 'Dumbledore';
}

main p {
    font-size: 1.8em;
}

input, button {
    outline: 0;
}
/* FOOTER */

footer {
    /* background-color: teal; */
    margin-top: 3vh;
}

#bas_page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bas_page p {
    margin: 0;
}
#anet {
    height: 5vh;
    margin-right: 1em;
}